
 

  #img-div:hover {
    transform: scale(1.02);
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: 3px solid #551a8b;
}

#img-caption {
  margin-top: 1rem;
  font-style: italic;
  color: #ccc;
}

#tribute-info {
  max-width: 800px;
  margin: 2rem auto;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 4px solid #00d2be;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(85, 26, 139, 0.4);
  backdrop-filter: blur(5px);
}

#tribute-info h2 {
  font-size: 2rem;
  color: #ffffff;
  border-bottom: 2px solid #444;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

#tribute-info ul {
  padding-left: 1.5rem;
  line-height: 1.8rem;
}

#tribute-info li {
  margin-bottom: 0.75rem;
  transition: all 0.3s ease;
}

#tribute-link {
  display: inline-block;
  margin-top: 2rem;
  font-weight: bold;
  color: #00d2be;
  text-decoration: none;
  font-size: 1.1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

#tribute-link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}



@media (max-width: 600px) {
  #title {
    font-size: 2rem;
  }
 
 #tribute-info {
   padding: 1rem;
 }

#img-div {
  margin: 1rem;

}
  
}
